.button {
   position: fixed;
   bottom: 30px;
   right: 15px;

   width: 52px;
   height: 52px;
   padding: 18px;

   font-size: 18px;

   border: none;
   border-radius: 50%;

   color: #fff;
   background: #ff851c;

   cursor: pointer;
}

.button:hover,
.button:focus {
   cursor: pointer;
   background-color: #00d7ff;
}

.button:active,
.button:visited {
   background: #47aad5;
}
