.card {
   background-color: #ffffff;
   box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03), 3px 4px 4px rgba(21, 57, 90, 0.03);
   border-radius: 10px;
   padding: 18px 21px;
}
.level {
   display: flex;
   align-items: baseline;
   justify-content: space-between;
}
.bottom {
   display: flex;
   justify-content: space-between;
}
