.logo {
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   letter-spacing: 0.02em;

   margin-right: 50%;

   color: #00d7ff;
}

@media screen and (min-width: 768px) {
   .logo {
      margin-right: 0;
   }
}
