.container {
  font-family: inherit;
  margin: 0 auto;
  padding: 20px;
  width: 320px;
}
.form {
  display: flex;
  flex-direction: column;
}
.formLabel {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.formInput {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formButton {
  font-family: 'New Tegomin', serif;
  font-weight: 700;
  padding: 10px;
}