.container {
  background-image: url("../../images/img/landing\ -\ mobile.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 648px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: inherit;
  margin: 0 auto;
  padding: 20px;
  width: 320px;

  @media screen and (min-resolution: 2dppx) {
    .container {
      background-image: url("../../images/img/landing\ -\ mobile@2.jpg");
    }
  }
  @media screen and (min-resolution: 3dppx) {
    .container {
      background-image: url("../../images/img/landing\ -\ mobile@3.jpg");
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url("../../images/img/landing\ -\ tablettablet.jpg");
    height: 1024px;
    min-width: 768px;

    @media screen and (min-resolution: 2dppx) {
      .container {
        background-image: url("../../images/img/landing\ -\ tablettablet@2.jpg");
      }
    }
    @media screen and (min-resolution: 3dppx) {
      .container {
        background-image: url("../../images/img/landing\ -\ tablettablet@3.jpg");
      }
    }
  }

  @media screen and (min-width: 1020px) {
    background-image: url("../../images/img/landinglanding.jpg");
    height: 768px;
    min-width: 1020px;

    @media screen and (min-resolution: 2dppx) {
      .container {
        background-image: url("../../images/img/landinglanding@2.jpg");
      }
    }
    @media screen and (min-resolution: 3dppx) {
      .container {
        background-image: url("../../images/img/landinglanding@3.jpg");
      }
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url("../../images/img/landinglanding.jpg");
    height: 850px;
    min-width: 1280px;

    @media screen and (min-resolution: 2dppx) {
      .container {
        background-image: url("../../images/img/landinglanding@2.jpg");
      }
    }
    @media screen and (min-resolution: 3dppx) {
      .container {
        background-image: url("../../images/img/landinglanding@3.jpg");
      }
    }
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.5px;

  color: #00d7ff;

  margin-top: 45px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    margin-top: 298px;
    margin-left: 35px;
    margin-bottom: 50px;

    letter-spacing: -0.75px;
  }

  @media screen and (min-width: 1020px) {
    font-size: 24px;
    line-height: 24px;

    margin-top: 162px;
    margin-left: 99px;
    margin-bottom: 50px;

    letter-spacing: -1px;
  }

  @media screen and (min-width: 1280px) {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    margin-top: 178px;
    margin-left: 216px;
    margin-bottom: 70px;

    letter-spacing: -1.25px;
  }
}

.text {
  width: 281px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.5px;

  color: #15395a;

  margin-bottom: 30px;
  margin-top: 0px;

  @media screen and (min-width: 768px) {
    width: 375px;

    font-size: 24px;
    line-height: 33px;

    margin-left: 35px;
    margin-bottom: 25px;

    letter-spacing: -0.75px;
  }

  @media screen and (min-width: 1020px) {
    width: 515px;

    font-size: 33px;
    line-height: 45px;

    margin-left: 99px;
    margin-bottom: 25px;

    letter-spacing: -1px;
  }

  @media screen and (min-width: 1280px) {
    width: 562px;

    font-size: 36px;
    line-height: 45px;

    margin-left: 216px;
    margin-bottom: 35px;

    letter-spacing: -1.25px;
  }
}

.option {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 45px;
  letter-spacing: -0.5px;

  color: #b9c3c8;

  margin-bottom: 30px;
  margin-top: 0px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 45px;

    margin-left: 35px;
    margin-bottom: 30px;

    letter-spacing: -0.75px;
  }

  @media screen and (min-width: 1020px) {
    font-size: 24px;
    line-height: 45px;

    margin-left: 99px;
    margin-bottom: 35px;

    letter-spacing: -1px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 45px;

    margin-left: 216px;
    margin-bottom: 23px;

    letter-spacing: -1.25px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;

  margin-top: 0px;

  @media screen and (min-width: 768px) {
    width: 196px;
    margin-left: 35px;
    margin-bottom: 38px;

    align-items: flex-end;
  }

  @media screen and (min-width: 1020px) {
    width: 193px;

    margin-left: 99px;
    margin-bottom: 38px;
  }

  @media screen and (min-width: 1280px) {
    width: 196px;
    margin-left: 216px;

    align-items: flex-end;
  }
}
// .formLabel {
//   font-style: normal;
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 18px;
//   letter-spacing: -1px;

//   color: #00d7ff;

//   @media screen and (min-width: 768px) {
//   }

//   @media screen and (min-width: 1280px) {
//   }
// }

.formInput {
  border-style: none;
  border-bottom: 1px solid #00d7ff;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 0px;
  &::placeholder {
    color: #00d7ff;
    font-weight: 500;
  }
}

.formButton {
  width: 52px;
  height: 52px;
  color: white;
  border-radius: 50%;
  background-color: #ff851c;
  border-style: unset;
  margin-top: 0px;
}
