.container {
  background-image: url("../../images/img/landing\ -\ mobile.jpg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 648px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: inherit;
  margin: 0 auto;
  padding: 20px;
  width: 320px;

  @media screen and (min-resolution: 2dppx) {
    .container {
      background-image: url("../../images/img/landing\ -\ mobile@2.jpg");
    }
  }
  @media screen and (min-resolution: 3dppx) {
    .container {
      background-image: url("../../images/img/landing\ -\ mobile@3.jpg");
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url("../../images/img/landing\ -\ tablettablet.jpg");
    height: 1024px;
    min-width: 768px;

    @media screen and (min-resolution: 2dppx) {
      .container {
        background-image: url("../../images/img/landing\ -\ tablettablet@2.jpg");
      }
    }
    @media screen and (min-resolution: 3dppx) {
      .container {
        background-image: url("../../images/img/landing\ -\ tablettablet@3.jpg");
      }
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url("../../images/img/landinglanding.jpg");
    height: 850px;
    min-width: 1280px;

    @media screen and (min-resolution: 2dppx) {
      .container {
        background-image: url("../../images/img/landinglanding@2.jpg");
      }
    }
    @media screen and (min-resolution: 3dppx) {
      .container {
        background-image: url("../../images/img/landinglanding@3.jpg");
      }
    }
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #00d7ff;

  margin-top: 45px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;

    margin-top: 298px;
    margin-left: 35px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.text {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.5px;

  color: #15395a;

  margin-bottom: 30px;
  margin-right: 9px;

  @media screen and (min-width: 768px) {
    width: 375px;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;

    margin-top: 0px;
    margin-left: 35px;
    margin-bottom: 25px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.option {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 45px;
  letter-spacing: 0.02em;

  color: #b9c3c8;

  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 45px;

margin-left: 35px;
margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 243px;
    margin-left: 35px;
    margin-bottom: 38px;
  }

  @media screen and (min-width: 1280px) {
  }
}
.formLabel {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -1px;

  color: #00d7ff;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
}

.formInput {
  border-style: none;
  border-bottom: 1px solid #00d7ff;
  margin-bottom: 20px;
  width: 100%;
  &::placeholder {
    color: #00d7ff;
    font-weight: 500;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
}

.formButton {
  width: 52px;
  height: 52px;
  color: white;
  border-radius: 50%;
  background-color: #ff851c;
  border-style: unset;

  @media screen and (min-width: 768px) {
    margin-left: 184px;
  }

  @media screen and (min-width: 1280px) {
  }
}
