.login {
   display: flex;
   align-items: center;
}

.avatar {
   font-weight: 900;
   font-size: 17px;
   line-height: 16px;
   letter-spacing: 0.02em;

   width: 30px;
   height: 30px;
   padding: 8px 11px;
   margin-right: 10px;

   border-radius: 50%;
   background: #3e4e6c;
   color: #ffffff;
}

.text {
   display: none;
}
@media screen and (min-width: 768px) {
   .text {
      display: block;
      font-size: 17px;
      line-height: 17px;
      letter-spacing: 0.02em;

      color: #7b8aa4;
   }
}
